
.ki {
    font-size: 80px;
    text-align: center;
    margin-top: 40px;
    font-family:'Times New Roman', Times, serif
}
.UE {
    text-align: center;
    font-size: 40px;
}
.P1 {
    width: 300px;
    padding-left: 12px;
}
.P2 {
    width: 295px;
    padding-left: 12px;
}
.P3 {
    width: 300px;
    padding-left: 12px;
}
.B1 {
    margin-left: 125px;
    display: inline-block;
}
.B2 {
    display: inline-block;
    margin-left: 150px;
}
.B3 {
    display: inline-block;
    margin-left: 150px;
}
.T1 {
    text-align: center;
}
.T2 {
    text-align: center;
}
.T3 {
    text-align: center;
}
.ST1 {
    font-size: 15px;
    text-align: center;
}
.myButton {
    background-color: grey;
    margin-left: 27px;
    margin-top: 20px;
    height: 35px;
    width: 150px;
    color: white;
    border: 0px;
    font-family:Arial, Helvetica, sans-serif
}
.myButton:hover {
    background-color: black;
    cursor: pointer;
}
    .popup {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,
                0,
                0,
                0.4);
        display: none;
    }

    .popup-content {
        background-color: white;
        margin: 10% auto;
        height: 170px;
        padding: 20px;
        border: 1px solid #888888;
        width: 30%;
        font-weight: bolder;
    }

    .popup-content button {
        display: block;
        margin: 0 auto;
    }

    .show {
        display: block;
    }
    .submitButton {
        margin-left: 0px;
    }

